* {
    padding: 10px;
    text-align: center;
}

.container {
    font-family: Helvetica Arial sans-serif;
    padding: 2em;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    font-weight: bold;
    text-align: center;
}

header, footer {
    flex-basis: 100%;
}

header {
    background-color: tomato;
}

main {
    text-align: left;
    background-color: deepskyblue;
}

aside {
    flex: 1 1 0;
}

.left-aside {
    background-color: gold;
}

.right-aside {
    background-color: hotpink;
}

footer {
    background-color: lightgreen;
}

@media all and (min-width: 801px) {
    header {
        order: 0;
    }

    .left-aside {
        order: 1;
    }
   
    .right-aside {
        order: 3;
    }

    main {
        order:2;
        flex: 3 1 0;
    }

    footer {
        order:4;
    }
}

@media all  and (max-width: 600px) {
    .container {    
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }
}